In [11]:
import pandas as pd
import os
import glob
  
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
dal_trackers = list()
  
# loop over the list of csv files
for f in csv_files:
      
    # read the csv file
    df = pd.read_csv(f)
    
    dal_trackers.append(df)
    # print the location and filename
    print('Location:', f)
    print('File Name:', f.split("\\")[-1])
      
    # print the content
    print('Content:')
    display(df)
    print()
    
final_daily_trcaker = pd.concat(data for data in dal_trackers)

Location: C:\Users\Sayantan\OneDrive\Desktop\AutoGenerateTrackers\Trackers\sayantan Ghosh_tracker (1).csv
File Name: sayantan Ghosh_tracker (1).csv
Content:

   Start Date   Tasks
0  2021-06-02  Task B

Location: C:\Users\Sayantan\OneDrive\Desktop\AutoGenerateTrackers\Trackers\sayantan Ghosh_tracker (2).csv
File Name: sayantan Ghosh_tracker (2).csv
Content:

   Start Date   Tasks
0  2021-06-03  task c

Location: C:\Users\Sayantan\OneDrive\Desktop\AutoGenerateTrackers\Trackers\sayantan Ghosh_tracker.csv
File Name: sayantan Ghosh_tracker.csv
Content:

   Start Date   Tasks
0  2021-06-01  task a

In [12]:
final_daily_trcaker

   Start Date   Tasks
0  2021-06-02  Task B
0  2021-06-03  task c
0  2021-06-01  task a

In [15]:
final_daily_trcaker["Start Date"] = pd.to_datetime(final_daily_trcaker["Start Date"])

final_daily_trcaker.sort_values(by="Start Date")

  Start Date   Tasks
0 2021-06-01  task a
0 2021-06-02  Task B
0 2021-06-03  task c